In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dados = pd.read_csv('drive/MyDrive/Consumo_cerveja.csv', sep=',')

In [ ]:
dados

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900
...,...,...,...,...,...,...,...
936,NaN,NaN,NaN,NaN,NaN,NaN,NaN
937,NaN,NaN,NaN,NaN,NaN,NaN,NaN
938,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dados.describe().round(2)

       Final de Semana  Consumo de cerveja (litros)
count           365.00                       365.00
mean              0.28                        25.40
std               0.45                         4.40
min               0.00                        14.34
25%               0.00                        22.01
50%               0.00                        24.87
75%               1.00                        28.63
max               1.00                        37.94

In [ ]:
dados.corr().round(4)

<ipython-input-6-fb159fd1543a>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.corr().round(4)

                             Final de Semana  Consumo de cerveja (litros)
Final de Semana                        1.000                        0.506
Consumo de cerveja (litros)            0.506                        1.000